.header {
    opacity: 1;
    display: table;
    position: relative;
    width: 100%;
    height: 50%;
    background: url(../img/Lake.jpg) no-repeat center center scroll;
    background-size: 200px 200px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    font-family: 'Ubuntu', sans-serif;
}

.cover-photo {
    color: #444444;
    margin: auto;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #FFF;
    height: 100vh;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 3.5em;
    font-weight: 600;
}

.skills {
    padding: 30px 0;
    background-color: white;
}

.icon-div {
	margin-top: 10px;
	text-align: center;
}

/* About */

.about {
    padding: 50px 0;
    background-color: #444444;
    color: white;
    font-size: 15px;
}

.about-item {
    margin-bottom: 30px;
}

.orange {
    color:#ff8f00;

}

.blue {
    color:#0000A0;
    background: none;
}

.center{
    text-align:center;
    color:#fff
}

.icon-size{
    font-size:3rem;
    color:#fff;
    padding:2px 5px 5px
}

a[href^="mailto:"]{
    color:#fff
}

